In [1]:
print("hello")

hello

###### <center> Integer  </center>

In [13]:
1

1

In [14]:
1.0

1.0

In [15]:
1+1

2

In [16]:
2*3

6

In [17]:
1/2

0.5

In [18]:
2*3

6

### <center> order of operations  </center>

### <center>BODMAS</center>

In [20]:
4%2   #remainder

0

In [21]:
5%2

1

In [22]:
5/2

2.5

In [23]:
5//2

2

###### <center> Variables </center>

In [24]:
var = 2

In [25]:
var

2

###### <center> Strings </center>

In [26]:
'string '

'string '

In [27]:
"string"

'string'

In [30]:
"I can't go"

"I can't go"

###### <center> Printing Strings </center>

In [31]:
x = "Hello"

In [34]:
print(x)

Hello

In [40]:
num = 21
name = "sam"


print("My number is {}, My name is {}".format(num, name))  # format order must be same as you want.

My number is 21, My name is sam

In [42]:
num = 123
name = "ABCD"

print("My name is {one} and my number is {two}, more {one}".format(two=num, one=name)) # this is to retain the format you need.

My name is ABCD and my number is 123, more ABCD

In [43]:
year =   "two thousand"

In [44]:
year[0]

't'

In [47]:
year[3]

' '

In [51]:
len(year)

12

In [53]:
year[0:]   #slicing index

'two thousand'

In [56]:
year[0:3]

'two'

In [57]:
year[:3]

'two'

In [58]:
year[:11]

'two thousan'

###### <center>  List </center>

In [59]:
[1,2,3]

[1, 2, 3]

In [60]:
['a', 'b', 'c']

['a', 'b', 'c']

In [61]:
my_list =  ['a', 'b', 'c']

In [62]:
my_list.append('d')

In [63]:
my_list.append(1)

In [64]:
my_list

['a', 'b', 'c', 'd', 1]

In [65]:
my_list[3]

'd'

In [66]:
nested_list = [1,2,3, [4,5,6]]

In [67]:
nested_list

[1, 2, 3, [4, 5, 6]]

In [75]:
nested_list[2:4]

[3, [4, 5, 6]]

In [76]:
nested_list[3]

[4, 5, 6]

In [77]:
nested_list[3][1]

5

In [87]:
nest = [1,2,3, [4,5,["target1","target2"]]]

In [89]:
nest[3][2][1]

'target2'

###### <center>  Dictionary </center>

In [91]:
a = {"key":"value", "key1":123}  #dictionary key-value pair

In [92]:
a['key1']

123

In [93]:
b = {"key":"value", "key1":[1,2,3]}  #dictionary key-value pair

In [97]:
list_from_diction = b["key1"]
list_from_diction

[1, 2, 3]

In [98]:
list_from_diction[1]

2

In [99]:
b["key1"][1]

2

In [100]:
d = {"k1":{"innerkey" : [1,2,3]}}  # nested dictionary

In [101]:
d["k1"]

{'innerkey': [1, 2, 3]}

In [102]:
d["k1"]['innerkey']

[1, 2, 3]

In [103]:
d["k1"]['innerkey'][1]

2

###### <center>  Boolean </center>

In [104]:
True

True

In [106]:
False

False

###### <center>  tuples </center>

In [109]:
t = (1,2,3,4,5)

In [110]:
t[1]

2

In [112]:
#tuples are not mutable but list are mutable

t[1] = "123"

TypeError: 'tuple' object does not support item assignment

###### <center>  Sets </center>

In [114]:
# it's look like a dictionary without key: values, it's consist of only values

sets = {1,2,3,4,5}
sets

{1, 2, 3, 4, 5}

In [116]:
setsWithDuplicate = {1,2,2,2,3,4,5,5,6,6,7}
setsWithDuplicate

{1, 2, 3, 4, 5, 6, 7}

In [118]:
listWithDuplicate = [1,1,1,1,2,2,2,2,2,3,3,3,3,3,4,4,4,4,5]
listWithDuplicate

[1, 1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 4, 4, 5]

In [121]:
listToSet = set(listWithDuplicate)
listToSet

{1, 2, 3, 4, 5}

In [122]:
listToSet.add(10)

In [123]:
listToSet

{1, 2, 3, 4, 5, 10}

In [124]:
listToSet.add(-10)

In [125]:
listToSet

{-10, 1, 2, 3, 4, 5, 10}

In [126]:
listToSet.add(3.5)

In [127]:
listToSet

{-10, 1, 2, 3, 3.5, 4, 5, 10}

###### <center>  Nested list, Diction, tuple </center>

In [170]:
list_test = [1,2,3,{1:"1value"},(4,5,6)]

In [171]:
list_test[3][1]

'1value'

In [173]:
list_test[4][1]

5

In [174]:
list_test.append(10)

In [175]:
list_test

[1, 2, 3, {1: '1value'}, (4, 5, 6), 10]

In [176]:
t = (8,9,10)

In [179]:
list_test.append(t)
list_test

[1, 2, 3, {1: '1value'}, (4, 5, 6), 10, (8, 9, 10), (8, 9, 10), (8, 9, 10)]

In [197]:
my_list_test = [12, 'Siya', 'Tiya', 14, 'Riya', 12, 'Riya']

#By passing index as 2 to remove Tiya
name = my_list_test.pop(2)
print(name)
print(my_list)

Tiya
['a', 'b', 'c', 'd', 1]

In [200]:
name_2 = my_list_test.pop(1)
print(name_2)
my_list_test

Siya

[12, 14, 'Riya', 12, 'Riya']

###### <center>  Comparison Operator </center>

In [129]:
1 < 2

True

In [130]:
2 <- 1

False

In [131]:
1 == 2

False

In [132]:
1 <= 2

True

In [134]:
2 >= -1

True

In [135]:
1 != -1

True

In [136]:
"hi" == "Hi"

False

In [141]:
(1 < 2) and (2 >= 2)

True

In [142]:
(1 < 1) or (1==1)

True

In [143]:
True and False

False

In [144]:
True or False

True

###### <center>  Contional statements </center>

In [150]:
i = 1
if i == 1:
  print("Yeah i values are right!")

Yeah i values are right!

In [153]:
if True:
    x = 2 + 5
    print("The condtion is true and the value of x is", x)

The condtion is true and the value of x is 7

In [154]:
if 1 == 2:
    print("Is True")
else:
    print("it's not True")

it's not True

In [156]:
if 1 == 2:
    print("Is True")
elif 1>2:
    print('1>2')
elif 1!=2:
    print('1!=2')
else:
    print("it's not True")

1!=2

###### <center>  Loops </center>

In [219]:
seq = [1,2,3,4,5,6,7,8,9,10]

line = "this is a string"


for item in seq:
    print(item, end = " ")

print()    

for item in line.split():
    print(item, end = ", ")

1 2 3 4 5 6 7 8 9 10
this, is, a, string,

In [226]:
sentence = 'Tell a little more about yourself as a developer'
list_words = sentence.split()

d = {word: i for i, word in enumerate(list_words, 1)}

print(d)


d_1 = [(word, i) for i, word in enumerate(list_words, 1)]

print(d_1)

d_3 = dict()
for i,word in enumerate(list_words,1):
    d_3.setdefault(word,[]).append(i)
print("d_3    ->  ",d_3)

{'Tell': 1, 'a': 8, 'little': 3, 'more': 4, 'about': 5, 'yourself': 6, 'as': 7, 'developer': 9}
[('Tell', 1), ('a', 2), ('little', 3), ('more', 4), ('about', 5), ('yourself', 6), ('as', 7), ('a', 8), ('developer', 9)]
d_3    ->   {'Tell': [1], 'a': [2, 8], 'little': [3], 'more': [4], 'about': [5], 'yourself': [6], 'as': [7], 'developer': [9]}

In [232]:


i =1

while i <5:
    print('Value of i is : {}'.format(i))
    i += 1

Value of i is : 1
Value of i is : 2
Value of i is : 3
Value of i is : 4

In [241]:
range_test = range(0,5,2)
print(list(range_test))

[0, 2, 4]

In [259]:
out = []

for n in seq:
    out.append(n**2)

print("Out with for and append(list)         --->", out)


print()


print("only for loop to iterate over the loop  ->", [n**2 for n in seq])   # list comprehension

print("\n \n")

Out with for and append(list)         ---> [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

only for loop to iterate over the loop  -> [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

###### <center>  Function </center>

In [264]:
def my_func(param1):
    print(param1 + ' This is Akash')

In [265]:
my_func("hi all")

hi all This is Akash

In [267]:
# function with default parameter
def my_func1(param1 = "This is default unless you haven't passed the parameter"):
    print(param1 + ' This is Akash')

In [268]:
my_func1()

This is default unless you haven't passed the parameter This is Akash

In [269]:
my_func1("Hi all")

Hi all This is Akash

In [276]:
def square(num):
    """
    This is a multi line 
    comment
    """
    return num**2     # when we use return we are going to return to another variable.

In [275]:
output = square(4)
output                     # shift + tab  -> to get signature

16

###### <center>  Map, filter, lambda </center>

In [278]:
def times2(arg):
    return arg*2

In [281]:
#map()

seq_map = [1,2,3,4,5]
map(times2,seq_map)    #   map(fun, iter)

list(map(times2,seq_map))

[2, 4, 6, 8, 10]

In [294]:
lambda_test = lambda variable : variable *2   # lambda input : output(return), input{string/list/...}

In [295]:
lambda_test(8)

16

In [296]:
#lambda   -> ananymous function

list(map(lambda i : i + i, seq_map))

[2, 4, 6, 8, 10]

In [299]:
list(filter(lambda num:num%2 == 0,seq)) #filterout element from sequence

[2, 4, 6, 8, 10]

In [311]:
s = "This is a Test string"

In [312]:
s.lower()

'this is a test string'

In [313]:
s.upper()

'THIS IS A TEST STRING'

In [314]:
s.split()

['This', 'is', 'a', 'Test', 'string']

In [316]:
d  # dictonary

{'Tell': 1,
 'a': 8,
 'little': 3,
 'more': 4,
 'about': 5,
 'yourself': 6,
 'as': 7,
 'developer': 9}

In [317]:
d.keys()

dict_keys(['Tell', 'a', 'little', 'more', 'about', 'yourself', 'as', 'developer'])

In [318]:
d.values()

dict_values([1, 8, 3, 4, 5, 6, 7, 9])

In [319]:
d.items()

dict_items([('Tell', 1), ('a', 8), ('little', 3), ('more', 4), ('about', 5), ('yourself', 6), ('as', 7), ('developer', 9)])

In [323]:
lst = [1,2,3,4,5]

In [324]:
poped_item = lst.pop()

In [325]:
lst

[1, 2, 3, 4]

In [326]:
poped_item

5

In [329]:
first = lst.pop(0)
first

2

In [330]:
lst.append(10)
lst

[3, 4, 10]

In [331]:
'x' in [1,2,3]

False

In [332]:
"x" in [1,2,3,'x','y']

True

In [334]:
list_tuples = [(1,2),(3,4),(5,6)]

In [335]:
list_tuples[0]

(1, 2)

In [336]:
list_tuples[0][1]

2

In [337]:
for i in list_tuples:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [338]:
for (a,b) in list_tuples:
    print(b)

2
4
6

In [340]:
for a,b in list_tuples:
    print(a, end=", ")
    print(b)

1, 2
3, 4
5, 6

In [348]:
from collections import Counter
a_string = 'the quick brown fox jumps over the lazy dog'
collection = Counter(a_string)#.split())
print(collection)

Counter({' ': 8, 'o': 4, 'e': 3, 't': 2, 'h': 2, 'u': 2, 'r': 2, 'q': 1, 'i': 1, 'c': 1, 'k': 1, 'b': 1, 'w': 1, 'n': 1, 'f': 1, 'x': 1, 'j': 1, 'm': 1, 'p': 1, 's': 1, 'v': 1, 'l': 1, 'a': 1, 'z': 1, 'y': 1, 'd': 1, 'g': 1})